<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    p:nth-child(2n) {
        background-color: #fff;
    }
    .input {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 300px;
    }

    #btn {
        width: 500px;
        height: 200px;
        border: 1px solid black;
        border-radius: 4px;
    }

    #send {
        height: 200px;
        border: 1px solid black;
        border-radius: 4px;
    }
</style>

<body>
    <div id="page">
        <h3><%=name%>聊天室</h3>
        <div class="content"></div>
        <div class="input">
            <input type="text" id="btn">
            <button type="submit" id="send">发送</button>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script>
    var socket = io();
    $("#send").click(() => {
        socket.emit("content", { name:$("h3").html(),neirong: $("#btn").val() })
        $("#btn").val("");
    })
    socket.on('jishou', (msg) => {
        $(".content").prepend(`<p><span style="color:red">${msg.name}</span>: ${msg.neirong}<p>`)
    })

</script>

</html>