<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    	div{
			width: 700px;
			height: 30px;
			padding: 40px;
			border: 1px solid #000;
			margin: 0 auto;
		}
</style>
<body>
    <div>
        <form action="/login">
            <input type="text" placeholder="请输入用户名" name="user">
            <input type="submit" value="comming">
        </form>
    </div>
</body>
</html>